<div class="container" id="home">


  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="title">MY BREW</h1>
    </div>
  </div>

  <div class="row">
    <div class="tagline col-md-12 text-center">
      <p>Find the drinks you love... Love the drinks you find</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 examples">

    </div>
  </div>

  <div class="row">

    <div class="col-md-6 text-center">
      <div class="links">
        <a href="/search">Search Drinks</a>
      </div>
    </div>

    <div class="col-md-6 text-center">
      <div class="links">
        <a href="/create">Saved Drinks</a>
      </div>
    </div>

    
  </div>

  {{!-- <h3>Mixed drinks saved so far:</h3>
        <ul id="example-list" class="list-group"> --}}
  {{!-- {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}} --}}
  {{#each Mixeds}}
  <li data-id="{{this.id}}" class="list-group-item">

    <p>{{this}}</a>
      {{!-- <p>{{this.name}}</a>
            <p>{{this.alcoholic}}</a>
            <p>{{this.category}}</a> --}}

      <button class="btn btn-danger float-right delete">ｘ</button>
  </li>
  {{/each}}
  </ul>

</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>