<div id="home">
  <div class="container">


    <div class="row">
      <div>
        <h1 class="title col-md-12">MY BREW</h1>
      </div>
    </div>

    <div class="row">
      <div class="tagline">
        <h2>Find the drinks you love...</h2>
        <h2>Love the drinks you find</h2> 
      </div>
    </div>


    <a href="/search">Search Drinks</a>
    <a href="/create">Saved Drinks</a>

    {{!-- <h3>Mixed drinks saved so far:</h3>
        <ul id="example-list" class="list-group"> --}}
    {{!-- {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}} --}}
    {{#each Mixeds}}
    <li data-id="{{this.id}}" class="list-group-item">

      <p>{{this}}</a>
        {{!-- <p>{{this.name}}</a>
            <p>{{this.alcoholic}}</a>
            <p>{{this.category}}</a> --}}

        <button class="btn btn-danger float-right delete">ｘ</button>
    </li>
    {{/each}}
    </ul>

  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>