<div class="container" id="home">

  {{!-- Title --}}
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="title">MY BREW</h1>
    </div>
  </div>

  <div class="row">
    <div class="tagline col-md-12 text-center">
      <p>Find the drinks you love... Love the drinks you find</p>
    </div>
  </div>

  {{!-- Drink Display --}}
  <div class="row">
    <div class="col-md-12 drinks">
      
      <h3>Mixed Drinks:</h3>
      <ul id="mixed-list" class="list-group">

        {{#each mixed}}
        {{this}}
        {{this.id}}
        {{id}}
        {{name}}
        {{this.name}}
        {{/each}}

        {{!-- {{#mixed}}
        {{this}}
        {{this.id}}
        {{id}}
        {{name}}
        {{this.name}}
        {{/mixed}} --}}

      </ul>

    </div>
  </div>


  {{!-- Links --}}
  <div class="row">

    <div class="col-md-6 text-center lint">
      <a href="/" class="lint">
        <div class="links">
          Home
        </div>
      </a>
    </div>

    <div class="col-md-6 text-center">
      <a href="/search" class="lint">
        <div class="links">
          Search Drinks
        </div>
      </a>
    </div>

    <div class="col-md-6 text-center lint">
      <a href="/create" class="lint">
        <div class="links">
          Create Drink
        </div>
      </a>
    </div>


  </div>


</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>